

html,body {margin:0;padding:0} 




#header { /* header de base*/
    
	height: 30%;
    /*Reset CSS*/

	margin: 0px;
	padding: 0px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	

	background-color: #046adf;
	}
	
#header > h1 {  /*syle du titre du site*/
    
	height: 30%;
	text-align: center;

	background-color: #046adf;

}

#user{
	float: right;
	margin-right: 30px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
    width: 150px;
}

#user > img {
    margin-left: 10px;
    margin-top: 5px;
}



#header  p{
    
	float: right;
	height: 20%;
	width: auto;
	position: relative;
	
}

#header p a{
	color: black;
	font-size: 12pt;
}


#logo :hover{
   background-color: #df043b;
    box-shadow: #5c84b1;
	cursor: pointer;
}


#container{
    width: 35%;
    margin: 0 auto;
    margin-top:10%;
    margin-bottom:10%;
}

/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   
}
#container h1{
    width: 100;
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
}

/* Full-width inputs */
input[type=email], input[type=password], input[type=text], input[type=number], input[type=date], input[type=codepostal] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #046adf;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border: 1px solid transparent;
}
input[type=submit]:hover {
    background-color: white;
    color:#046adf;
    border: 1px solid #046adf;
}
#footer { 
	float: left;
	margin-top: 0px;
	width:100%;
	height: 150px;
	background-color:#0e71e2;
	
} 

#text_left {
	float: left;
	margin: 50px;
	position: relative;


}
#text_right {
	float: right;
	margin: 100px;
	text-align: right;
	position: relative;
	
}